{% load static %}
<header style="margin-bottom: 30px;">
    <a id="header_link" href="{% url 'main' %}" style="text-decoration: none; display: flex; align-items: center; justify-content: center;">
        <img src="{% static 'image/로고.png' %}" alt="logo" style="width:8vw; height:7vh; max-width:50px; max-height:80px;">
        <span id="header_text" style="font-weight: bold; font-size: 1.2em; color: #6B4E71;">&nbsp;CLICK YOUR TASTE!</span>
    </a>
</header>
<style>

    #header_link {
        text-decoration: none;
        font-size: 15px;
        color: white;
        display: flex;
        align-items: center;
    }

    #header_link img {
        width: 30px; /* 로고 크기 줄임 */
        height: auto;
        margin-right: 10px;
    }

</style>