{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>탭 사이트 이름</title>
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
</head>
<body>
    <header>
        <a href ="#">
            <img src="{% static 'image/로고.png' %}" id="logo" alt="logo">
        </a>

    </header>
    
    <main>
        <section id = "content">
            <div class="main">
                <div class = "title">
                    <h2 class="title_text">입맛 테스트</h2>
                    <img src="{% static 'image/elice_chef_rabbit_1.png' %}" alt="rabbit">
                </div>
        
                <div class="Box">
                    <div class="qBox">이건 너무 맵잖아!" 각자 시킨 요리를 먹던 중 도도새가 버럭! 화를 냅니다. 이럴 땐...</div>
                    <div id="answerBox1">a. "도도새야, 내가 대신 먹어줄까?"</div>
                    <div id="answerBox2">b. "사장님, 시원한 음료 추가할게요."</div>
                </div>

            </div>
        </section> 
    </main>
    <footer></footer>
 
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script language = "javascript">
        const question5_url = "{% url 'question5' %}";

        const newhref = window.location.href;
        const url = new URL(newhref);
        const urlParams = url.searchParams;
        const id1  = urlParams.get('id1'); 
        const id2 =  urlParams.get('id2');
        const id3 =  urlParams.get('id3');
        const id4 =  urlParams.get('id4');

        var sit1_name = id1;
        var sit1 = 'id1';
        var  sit2_name = id2;
        var sit2 = 'id2';
        var sit3_name = id3;
        var sit3 = 'id3';
        var sit4_name = id4;
        var sit4 = 'id4';
    //송신부
    console.log(newhref);
    console.log(id1);
    console.log(id2);
    console.log(id3);
    var sit4_name = "";
    var sit4 = "0123";
    

    var sending = function sendFunc(){
        location.href =`${question5_url}?${sit1}=${sit1_name}&${sit2}=${sit2_name}&${sit3}=${sit3_name}&${sit4}=${sit4_name}`;
 
    }
 

    $("#answerBox1").click(function(){
      sit4 = "id4";
      sit4_name = "answerA";
      sending();
    });
    $("#answerBox2").click(function(){
      sit4 = "id4";
      sit4_name = "answerB";
      sending();
    });
 

  </script>
 



</body>
</html>