{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>탭 사이트 이름</title>
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <a href="{% url 'main' %}">
            <img id="logo" src="{% static 'image/로고.png' %}" alt="logo">
            <span id="header_text">&nbsp;CLICK YOUR TASTE!</span>
        </a>

    </header>

    <main>
        <section id="content">
            <div class="main">
                <div class="title">
                    <h2 class="title_text">입맛 테스트</h2>
                     <img src="{% static 'image/elice_chef_rabbit_1.png' %}" alt="rabbit" style="width:200px; height: 285px; ">
                </div>

                <div class="Box">
                    <div class="qBox">1. 엘리스 토끼는 모자장수와 도도새 셋이서 밥을 먹으러 가려고 합니다. 어떤 식당을 고를까요?</div>
                    <div id="answerBox1">a. 다소 북적북적한 식당</div>
                    <div id="answerBox2">b. 한적하고 조용한 식당</div>
                </div>

            </div>
        </section>
    </main>
    <footer></footer>
    <script>
        const question2_url = "{% url 'question2' %}";
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script language="javascript">

        var sit1 = "0123";
        var sit1_name = "";

        var sending = function sendFunc(aValue) {
            location.href = `${question2_url}?${sit1}=${sit1_name}`;
        }

        $("#answerBox1").click(function () {
            sit1 = "id1";
            sit1_name = "answerA";
            sending();
        });
        $("#answerBox2").click(function () {
            sit1 = "id1";
            sit1_name = "answerB";
            sending();
        });


    </script>
</body>
</html>
