{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>탭 사이트 이름</title>
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
</head>
<body>
    <header>
        <a href ="#">
            <img src="{% static 'image/로고.png' %}" id="logo" alt="logo">
        </a>

    </header>
    
    <main>
        <section id = "content">
            <div class="main">
                <div class = "title">
                    <h2 class="title_text">입맛 테스트</h2>
                    <img src="{% static 'image/elice_chef_rabbit_1.png' %}" alt="rabbit">
                </div>
        
                <div class="Box">
                    <div class="qBox">6. "만족스러웠어." "나한텐 매웠지만!" 엘리스 토끼 일행은 배를 두드리며 가게를 나옵니다. 모자장수가 근엄하게 묻스비다. "자, 이제 디저트는 뭐로 하지?"</div>
                    <div id="answerBox1">a "Drink me!" 라벨이 붙은 음료</div>
                    <div id="answerBox2">b "Eat me!" 라고 쓰인 케이크</div>
                </div>

            </div>
        </section> 
    </main>
    <footer></footer>
 
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script language = "javascript">

        const test_result_url = "{% url 'test_result' %}";
        const newhref = window.location.href;
        const url = new URL(newhref);
        const urlParams = url.searchParams;
        const id1  = urlParams.get('id1'); 
        const id2 =  urlParams.get('id2');
        const id3 =  urlParams.get('id3');
        const id4 =  urlParams.get('id4');
        const id5 =  urlParams.get('id5');
        console.log(newhref);
        console.log(id1)
        console.log(id2)
        console.log(id3)
        console.log(id4)
        console.log(id5)
        var sit1_name = id1;
        var sit1 = 'id1';
        var  sit2_name = id2;
        var sit2 = 'id2';
        var sit3_name = id3;
        var sit3 = 'id3';
        var sit4_name = id4;
        var sit4 = 'id4';
        var sit5_name = id5;
        var sit5 = 'id5';
 

    var sending = function sendFunc(){
        location.href=`${test_result_url}?${sit1}=${sit1_name}&${sit2}=${sit2_name}&${sit3}=${sit3_name}&${sit4}=${sit4_name}&${sit5}=${sit5_name}&${sit6}=${sit6_name}`;
 
    }
 

    $("#answerBox1").click(function(){
      sit6 = "id6";
      sit6_name = "answerA";
      sending();
    });
    $("#answerBox2").click(function(){
      sit6 = "id6";
      sit6_name = "answerB";
      sending();
    });
 

  </script>
 



</body>
</html>