{% load static %}
<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>밥꾹_랜덤밥상</title>
    <link rel="stylesheet" href="{% static 'css/randomfood.css' %}">

</head>
<body>
    <div class="background">
        <div class="header">
            <h3>
                <a href="{% url 'main' %}">
                    <img id="logo" src="{% static 'image/로고.png' %}" alt="토끼">
                    <span class="header_text">&nbsp;CLICK YOUR TASTE!</span>
                </a>
            </h3>
        </div>
        <div class="container">
            <div class="main">
                <div class="heading1">
                    <h2>상황고르기</h2>
                </div>
                <div class="situation">
                    <div class="situationItem first" id="korea">
                        <img src="{% static 'image/상체.png' %}" />
                        <a href="{% url 'situation3' %}">한식</a>
                    </div>
                    <div class="situationItem second" id="western">
                        <img src="{% static 'image/상체.png' %}" />
                        <a href="{% url 'situation3' %}">양식</a>
                    </div>
                    <div class="situationItem third" id="china">
                        <img src="{% static 'image/상체.png' %}" />
                        <a href="{% url 'situation3' %}">중식</a>
                    </div>
                    <div class="situationItem fourth" id="japan">
                        <img src="{% static 'image/상체.png' %}" />
                        <a href="{% url 'situation3' %}">일식</a>
                    </div>
                    <div class="situationItem fifth" id="snack">
                        <img src="{% static 'image/상체.png' %}" />
                        <a href="{% url 'situation3' %}">간식</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const situation3Url = "{% url 'situation3' %}";
    </script>

    <script language="javascript">
        //수신부

        const newhref = window.location.href;
        const url = new URL(newhref);
        const urlParams = url.searchParams;
        const id1 = urlParams.get('id1');
        console.log(newhref);
        console.log(id1)
        var sit1_name = id1;
        var sit1 = 'id1';


    /*    alert(sit1_name + " " + sit1); */

     

        var sit2 = "0123";
        var sit2_name = "";

        var sending = function sendFunc(aValue) {
            location.href = `${situation3Url}?${sit1}=${sit1_name}&${sit2}=${sit2_name}`;
        }


        $("#korea").click(function () {
            sit2 = "id2";
            sit2_name = "korea_food";
            sending();
        });
        $("#western").click(function () {
            sit2 = "id2";
            sit2_name = "western_food";
            sending();
        });
        $("#china").click(function () {
            sit2 = "id2";
            sit2_name = "china_food";
            sending();
        });
        $("#japan").click(function () {
            sit2 = "id2";
            sit2_name = "japan_food";
            sending();
        });
        $("#snack").click(function () {
            sit2 = "id2";
            sit2_name = "snack";
            sending();
        });

    </script>
    <script src="{% static 'javascript/randomfood.js' %}"></script>
</body>
</html>

