<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>밥꾹_랜덤밥상</title>
    <link href="../css/randomfood.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="background">
        <div class="header">
            <h3>
                <a href="main.html">
                    <img id="logo" src="../image/로고.png" alt="logo">
                    <span id="header_text">&nbsp;CLICK YOUR TASTE!</span>
                </a>
            </h3>
        </div>
        <div class="container">
            <div class="main">
                <div class="heading1">
                    <h2>상황고르기</h2>
                </div>
                <div class="situation">
                    <div class="situationItem first" id="yesSoup">
                        <img src="../image/상체.png" />
                        <a href="situation4.html">국물O</a>
                    </div>
                    <div class="situationItem second" id="noSoup">
                        <img src="../image/상체.png" />
                        <a href="situation4.html">국물X</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script language="javascript">
    //수신부
    const newhref = window.location.href;
    const url = new URL(newhref);
    const urlParams = url.searchParams;
    const id1  = urlParams.get('id1');
    const id2 =  urlParams.get('id2');
    const id3 =  urlParams.get('id3');
    console.log(newhref);
    console.log(id2)
    var sit1_name = id1;
    var sit1 = 'id1';
    var  sit2_name = id2;
    var sit2 = 'id2';
    var sit3_name = id3;
    var sit3 = 'id3';


    var  sit2_name = id2;
    var sit2 = 'id2';

 /*   alert(sit1_name + " " + sit1 + sit2_name + " " + sit2); */

    //송신부

    var sit3_name = "";
    var sit3 = "0123";


    var sending = function sendFunc( aValue ){
        location.href=`situation4.html?${sit1}=${sit1_name}&${sit2}=${sit2_name}&${sit3}=${sit3_name}`;

    }


    $("#yesSoup").click(function(){
      sit3 = "id3";
      sit3_name = "soup_yes";
      sending('1:3:1:1');
    });
    $("#noSoup").click(function(){
      sit3 =  "id3";
      sit3_name = "soup_no";
      sending('1:3:1:1');
    });


    </script>
    <script src="../javascript/randomfood.js"></script>

</body>
</html>

</body>
</html>

