{% load static %}
<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>밥꾹_랜덤밥상</title>
    <link rel="stylesheet" href="{% static 'css/randomfood.css' %}">

</head>
<body>
    <div class="background">
        <div class="header">
            <h3>
                <a href="{% url 'main' %}">
                    <img class="logo" src="{% static 'image/로고.png' %}" alt="logo">
                    <span class="header_text">&nbsp;CLICK YOUR TASTE!</span>
                </a>
            </h3>
        </div>
        <div class="container">
            <div class="main">
                <div class="heading1">
                    <h2>상황고르기</h2>
                </div>
                <div class="situation">
                    <div class="situationItem first" id="diet">
                        <img src="{% static 'image/상체.png' %}" />
                       <a href="{% url 'result' %}">다이어트</a>
                    </div>
                    <div class="situationItem second" id="cheap">
                        <img src="{% static 'image/상체.png' %}" />
                       <a href="{% url 'result' %}">저렴이</a>
                    </div>
                    <div class="situationItem third" id="vegan">
                        <img src="{% static 'image/상체.png' %}" />
                       <a href="{% url 'result' %}">비건</a>
                    </div>
                    <div class="situationItem fourth" id="random">
                        <img src="{% static 'image/상체.png' %}" />
                       <a href="{% url 'result' %}">랜덤</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const resultUrl = "{% url 'result' %}";
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script language="javascript">
    //수신부
    const newhref = window.location.href;
    const url = new URL(newhref);
    const urlParams = url.searchParams;
    const id1  = urlParams.get('id1');
    const id2 =  urlParams.get('id2');
    const id3 =  urlParams.get('id3');
    console.log(newhref);
    console.log(id1)
    console.log(id2)
    console.log(id3)
    var sit1_name = id1;
    var sit1 = 'id1';
    var  sit2_name = id2;
    var sit2 = 'id2';
    var sit3_name = id3;
    var sit3 = 'id3';

    //송신부

    var sit4_name = "";
    var sit4 = "0123";


    var sending = function sendFunc(){
        location.href = `${resultUrl}?${sit1}=${sit1_name}&${sit2}=${sit2_name}&${sit4}=${sit4_name}`;
    }

    $("#diet").click(function(){
      sit4 = "id4";
      sit4_name = "for_diet";
      sending();
    });
    $("#cheap").click(function(){
      sit4 = "id4";
      sit4_name = "cheaper_food";
      sending();
    });
    $("#vegan").click(function(){
      sit4 = "id4";
      sit4_name = "for_vegan";
      sending();
    });
    $("#random").click(function(){
      sit4 = "id4";
      sit4_name = "I_dont_care";
      sending();
    });


    </script>
    <script src="{% static 'javascript/randomfood.js' %}"></script>

</body>
</html>

