{% load static %}
<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>밥꾹_랜덤밥상</title>
    <link rel="stylesheet" href="{% static 'css/randomfood.css' %}">

</head>
<body>
    <div class="background">
        <div class="header">
            <h3>
                <a href="{% url 'main' %}">
                    <img id="logo" src="{% static 'image/로고.png' %}" alt="logo">

                    <span class="header_text">&nbsp;CLICK YOUR TASTE!</span>
                </a>
            </h3>
        </div>
        <div class="container">
            <div class="main">
                <div class="heading1">
                    <h2>상황고르기</h2>
                </div>
                <!--  a 링크에     text-decoration: none; css 속성 추가  -->
                <div class="situation">
                    <div class="situationItem first" id="solo">
                        <img src="{% static 'image/상체.png' %}" />
                         <a href="javascript:void(0);">혼밥</a>
                    </div>
                    <div class="situationItem second" id="family">
                        <img src="{% static 'image/상체.png' %}" />
                         <a href="javascript:void(0);">가족</a>
                    </div>
                    <div class="situationItem third" id="lover">
                        <img src="{% static 'image/상체.png' %}" />
                         <a href="javascript:void(0);">연인</a>
                    </div>
                    <div class="situationItem fourth" id="friend">
                        <img src="{% static 'image/상체.png' %}" />
                         <a href="javascript:void(0);">친구</a>
                    </div>
                    <div class="situationItem fifth" id="club">
                        <img src="{% static 'image/상체.png' %}" />
                         <a href="javascript:void(0);">모임</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const situation2_url = "{% url 'situation2' %}";
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script language="javascript">
        // <a href="javascript:void(0);">혼밥</a>
        var sit1 = "0123";
        var sit1_name = "";

        function sending() {
            location.href = `${situation2_url}?${sit1}=${sit1_name}`;
        }


        //$("#alone").click(function(){sending()});

        $("#solo").click(function () {
            sit1 = "id1";
            sit1_name = "Eating_alone";
            sending();
        });
        $("#family").click(function () {
            sit1 = "id1";
            sit1_name = "Family_lunch";
            sending();
        });
        $("#lover").click(function () {
            sit1 = "id1";
            sit1_name = "Lover_date";
            sending();
        });
        $("#friend").click(function () {
            sit1 = "id1";
            sit1_name = "frinds_dinner";
            sending();
        });
        $("#club").click(function () {
            sit1 = "id1";
            sit1_name = "party";
            sending();
        });

    </script>

</body>
</html>

