{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>탭 사이트 이름</title>
    <link rel="stylesheet" href="{% static 'css/start.css' %}">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <a id="header_link" href="{% url 'main' %}">
            <img src="{% static 'image/로고.png' %}" alt="logo" style="width:8vw; height:7vh; max-width:50px; max-height:80px;">
            <span id="header_text">&nbsp;CLICK YOUR TASTE!</span>
        </a>

    </header>
    
    <main>
        <section id = "content">
            <div class="main">
                <div class = "title">
                    <h2 class="title_text">입맛 테스트</h2>
                </div>
                <div class="Box">
                    <img src="{% static 'image/elice_chef_rabbit_1.png' %}" alt="rabbit" style = "width:60vw; height: 60vh; max-width:450px; max-height:450px;" >
                </div>

<!--                <div >-->
<!--                   <a href="{% url 'question' %}"> <button class="button" >시작하기</button></a>-->
<!--                </div>-->

                <!-- templates/start.html -->
                <h1>🐰 입맛 테스트에 오신 걸 환영합니다!</h1>
                <button class="button"  onclick="location.href='{% url 'test' %}'">테스트 시작</button>

            </div>
        </section> 
    </main>
    <footer></footer>
    <script src="{% static 'javascript/recommand_data.js' %}"></script>
<!--    <script src="{% static 'javascript/start.js' %}"></script>-->
    <script>

        window.addEventListener("DOMContentLoaded", () => {
            const params = new URLSearchParams(window.location.search);
            const inputText = decodeURIComponent(params.get("text") || '');
            const lat = params.get("lat");
            const lng = params.get("lng");

            console.log("⭐ 입력값:", inputText);
            console.log("📍 위도(lat):", lat);
            console.log("📍 경도(lng):", lng);

            // 테스트: 비어 있으면 알려주기
            if (!lat || !lng) {
                console.log("📍 ⚠️ 위치 정보가 없습니다");
            }
        });
    </script>


</body>
</html>